.box-content-3 form{
    padding: 30px 0 30px 30px;
}
.box-content-3 form .input{
    width: 97%;
    margin-bottom: 25px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    height: 35px;
}
.box-content-3 form .btn{
    width: 100px;
    height: 30px;
}
.thongbao{
    color: red;
    margin-left: 30px;
    font-size: 17px;
    margin-top: 0;
}